.card{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px;
}

.card-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   width: 50%;
   height: 55%;
   background-color: rgb(75, 92, 73);
   border-radius: 25px;
   margin: 10px;
   padding: 11px;
   padding-bottom: 5px;
   box-shadow: rgb(46, 65, 49) 0px 20px 30px -10px;
}

.title{
   font-family: 'Aclonica', sans-serif;
   font-size: 1.2rem;
   text-align: center;
   margin-top: 10px;
   margin-bottom: 10px;
}

.img-character{
   width: 75%;
   border-radius: 10px;
}

.status-container{
   display: flex;
   position:absolute;
   margin: 5px;
   top:10px;
   left: 20px;
   background-color: rgb(68, 68, 68);
   padding: 4px;
   border-radius: 10px;
}

.status-container h4{
   font-size: 0.8rem;
   margin-left: 4px;
   color: white;
   text-transform: capitalize;
}

.status{
   width: 0.8rem;
   height: 0.8rem;
   border-radius: 50px;
   -webkit-clip-path: polygon(95% 17%, 69% 9%, 54% 30%, 36% 9%, 15% 20%, 8% 43%, 25% 81%, 55% 100%, 88% 78%, 100% 37%);
clip-path: polygon(95% 17%, 69% 9%, 54% 30%, 36% 9%, 15% 20%, 8% 43%, 25% 81%, 55% 100%, 88% 78%, 100% 37%);
}

.Alive {
   background-color: green;
}

.Dead {
   background-color: red;
}

.unknown {
   background-color: rgb(117, 117, 117);
}

.genero{
   display: flex;
   margin: 5px 0px 5px 15px;
}

.genero span{
   margin-left: 5px;
}

.localizacion{
   display: flex;
   margin: 5px 0px 5px 15px;
}

.localizacion span{
   margin-left: 5px;
}

.episodios{
   display: flex;
   margin: 5px 0px 5px 15px;
}

.episodios span{
   margin-left: 5px;
}

@media (500px< width <900px){
   .card-container{
      width: 25%;
      height: 55%;
   }
}

@media (width>900px){
   .card-container{
      width: 15%;
      height: 55%;
   }
}