*{
   flex-wrap: wrap;
   margin: 0;
   padding: 0;
}

body{
   background-image: url("assets/background.svg");
   height: 100%;
   width: 100%;
}

.portada{
   width: 100%;
   height: 150px;
}

.App{
   display: flex;
   justify-content: center;
   align-items: center;
}

@media (500px< width <900px){
   .portada{
      height: 150px;
   }
}

@media (width>900px){
   .portada{
      height:150px;
   }
}